version: '3.4'
services:
  proto_build:
    build: 
      context: proto_build
      target: go
    tty: true
    user: "${_USER}"
    privileged: true
    container_name: proto_go_build_${_PRJ_NAME}
    volumes:
      - "../:/target_data:ro"
      - "../proto/:/target_data/proto:rw"
  go_build:
    build: go_build
    tty: true
    user: "${_USER}"
    privileged: true
    container_name: go_build_${_PRJ_NAME}
    volumes:
      - "../:/target_data:rw"
